<mat-form-field (click)="edit()" class="filter-full filter-click">
	<input matInput placeholder="Property / accommodation" readonly [(ngModel)]="selected.names" id="{{name}}Filter" class="filter-click">
	<input type=hidden [(ngModel)]="selected.ids" id="{{name}}Ids">
</mat-form-field>
